{extend name="common/base" /}
{block name="content"}
<blockquote class="layui-elem-quote fhui-admin-main_hd">
    <h2>添加角色</h2>
</blockquote>
<form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">

    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-block">
            <input name="title" autocomplete="off" value="" placeholder="角色名称" class="layui-input" type="text" required  lay-verify="title">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            <input checked="checked" name="status" lay-skin="switch" lay-filter="switchTest" title="是" type="checkbox">
        </div>
    </div>
    <div class="layui-form-item">

        <a class="layui-btn layui-btn-primary do-action" onclick="goback(-1)">返回</a>
        <button class="layui-btn" lay-submit="" lay-filter="add-role" data-href={:url('addGroup')}>提交</button>
    </div>

</form>
{/block}
{block name="js"}
<script type="text/javascript">
    layui.use(['form'], function() {
        var form = layui.form;
    })
</script>
{/block}