{extend name="common/base" /}
{block name="content"}
<blockquote class="layui-elem-quote fhui-admin-main_hd">
    <h2>修改菜单</h2>
</blockquote>
<form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">
    <input type="hidden" name="id" value="{$data['id']}">
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-inline" style="width:30%">
            <select data-val="true" lay-filter="pid" name="pid" lay-verify="required">
                <option selected="selected" value="0">默认顶级</option>
                {volist name="list" id="v"}
                    <option value="{$v.id}" {eq name="$data['pid']" value="$v['id']"}selected{/eq}>
                        {if $v.pid eq 0}{else}{if $v.lvl eq 2}　├{else}　　├{/if}{/if}{$v.title}
                    </option>

                {/volist}
            </select>

        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input name="title" autocomplete="off" value="{$data['title']}" placeholder="菜单名称" class="layui-input" type="text" required  lay-verify="title">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">节点</label>
        <div class="layui-input-block">
            <input name="name" autocomplete="off" value="{$data['name']}" placeholder="模块/控制器/方法" class="layui-input" type="text" required  lay-verify="required">
            <span>如：tdmin/user/adduser (一级节点添加“#”即可)</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">css样式</label>
        <div class="layui-input-block">
            <input name="css" autocomplete="off" value="{$data['css']}" placeholder="输入菜单名称前显示的CSS样式" class="layui-input" type="text">
            <span>如fa fa-user</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input name="sort" lay-verify="number" autocomplete="off" value="{$data['sort']}" placeholder="输入顺序" class="layui-input" type="number" style="width: 50%;">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            <input {eq name="$data['status']" value="1"}checked="checked"{/eq} name="status" lay-skin="switch" lay-filter="switchTest" title="是" type="checkbox">
        </div>
    </div>
    <div class="layui-form-item">
        <a class="layui-btn layui-btn-primary do-action" onclick="goback(-1)">返回</a>
        <button class="layui-btn" lay-submit="" lay-filter="add-role" data-href={:url('editRule')}>提交</button>
    </div>

</form>
{/block}
{block name="js"}
<script type="text/javascript">
    layui.use(['form'], function() {
        var form = layui.form;
    })
</script>
{/block}