{extend name="common/base" /}
{block name="content"}
<blockquote class="layui-elem-quote fhui-admin-main_hd">
    <h2>修改密码</h2>
</blockquote>
<form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">

    <div class="layui-form-item">
        <label class="layui-form-label">原始密码</label>
        <div class="layui-input-block">
            <input name="opassword" autocomplete="off" value="" placeholder="原始密码" class="layui-input" type="password" required lay-verify="password">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input name="npassword" autocomplete="off" value="" placeholder="新密码" class="layui-input" type="password" required lay-verify="password">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">再次输入</label>
        <div class="layui-input-block">
            <input name="rpassword" autocomplete="off" value="" placeholder="再次输入" class="layui-input" type="password" required lay-verify="password">
        </div>
    </div>
    <div class="layui-form-item">
        <a class="layui-btn layui-btn-primary do-action" onclick="goback(-1)">返回</a>
        <button class="layui-btn" lay-submit="" lay-filter="add-role" data-href={:url('reset_password')}>提交</button>
    </div>

</form>
{/block}
{block name="js"}
<script type="text/javascript">
    layui.use(['form','layer'], function() {
        var form = layui.form;
        var layer = layui.layer;
        form.on('submit(add-role)', function(data) {
            var fields = data.field;
            var is_ok = true;
            if(fields.npassword.length < 6) {
                layer.msg('密码长度要大于6位',{icon:2,time:layer_time,shade: 0.1,});
                return false;
            }
            if(fields.npassword !== fields.rpassword) {
                layer.msg('两次输入不一样',{icon:2,time:layer_time,shade: 0.1,});
                return false;
            }
        })
    })
</script>
{/block}